@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

html {
  color: #ffff00;
  background: #000000;
  font-size: 1em;
  line-height: 1.4;
  font-family: "JetBrains Mono", monospace;
}

.header {
  width: 90vw;
  max-width: 700px;
  max-height:39px;
  margin: 20px auto 0;

  display: flex;
  flex-direction: row;
  border: 3px none #ffff00;
  border-bottom-style: solid;

  a {
    text-decoration: none;
    color: #000000;
    background: #ffff00;

    &:hover {
      color: #ffff00;
      background: #000000;
    }

    &:focus {
      color: #ffff00;
      background: #000000;

      outline: none;
    }

    .title {
      padding-right: 2em;
      padding-left: 0.5em;
      margin: 0;
    }
  }

  &::after {
    content: "";
    position: relative;
    display: inline-block;
    background: #000000;
    top: -56px;
    right: 38px;
    width: 75px;
    height: 75px;

    transform: rotate(45deg);
  }
}

.nav {
  display: none;
  width: 90vw;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2.5em;
  border: 3px none #ffff00;
  border-right-style: solid;
  border-left-style: solid;
  box-sizing: border-box;
  border-bottom-width: 1px;
  border-bottom-style: dashed;

  ul {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
    margin: 0;

    a {
      color: #ffff00;
      text-decoration: none;

      &:hover {
        color: #000000;
        background: #ffff00;
      }

      &:focus {
        outline: none;
        color: #000000;
        background: #ffff00;
      }
      li {
        list-style-type: none;
      }
    }
    a + a {
      margin-left: 8px;
    }
  }
}

.container {
  width: 90vw;
  max-width: 700px;
  min-height: 50vh;
  margin: 0 auto;
  padding: 0 2.5em;
  border: 3px none #ffff00;
  border-right-style: solid;
  border-left-style: solid;
  box-sizing: border-box;
}

.footer {
  width: 90vw;
  max-width: 700px;
  min-height: 40px;
  margin: 0 auto 30px;
  padding: 0 2.5em;
  border: 3px none #ffff00;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  box-sizing: border-box;
}

@media (min-width: 480px) {
  .nav {
    display: block;
  }
}
