---
import { getCollection } from "astro:content";
import Main from "../../layouts/main.astro";
import Prose from "../../components/prose.astro";

export async function getStaticPaths() {
  const postEntries = await getCollection("blog");
  return postEntries
    .filter((entry) => {
      return entry.data?.publishDate != undefined;
    })
    .map((entry) => ({
      params: { slug: entry.slug },
      props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Main title="lxnull">
  <Prose>
    <Content />
  </Prose>
</Main>
