---
import { Image } from "astro:assets";

const { src, alt, caption, side } = Astro.props;
---

<div class="mb-10">
  <figure
    class={`mt-2 w-full sm:w-1/2 ${side == "right" ? "sm:float-right sm:ml-4" : "sm:float-left sm:mr-4"} float-top flex flex-col sm:block`}
  >
    <Image src={src} alt={alt} width="550" height="550" class="w-full" />
    <figcaption class="mt-2">{caption}</figcaption>
  </figure>
  <slot />
</div>
