---
const path =
  Astro.url.pathname.slice(-1) == "/"
    ? Astro.url.pathname.slice(0, -1)
    : Astro.url.pathname;

const pathArray = path.split("/");
console.log(path);
console.log(pathArray);
---

<ol
  itemscope
  itemtype="https://schema.org/BreadcrumbList"
  class="sm:flex flex-row text-xs mb-2 hidden "
>
  {pathArray.length > 1 &&
    pathArray.map((item, i) => {
      return (
        <li
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
        <meta itemprop:"position" content={String(i + 1)} />
          <a
            itemprop="item"
            href={`${item}/`}
            class="hover:text-background hover:bg-foreground focus:text-background focus:bg-foreground focus:outline-none mx-1 "
          >
            <span itemprop="name">
              {`► ${item == "" ? `${import.meta.env.SITE_URL}` : `${item}`}`}
            </span>
          </a>
        </li>
      );
    })
  }
</ol>
